

#container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333;
}

#text {
	width: 100%;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #aaa;
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: 100;
}